body {
    line-height: normal;
    font-family: $font-display;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-brand;
    line-height: 0.9;
}

p, a, span, li, div, input, textarea, select, button {
    font-family: $font-display;
    line-height: 1.3;
}

h2, .hdln-2 {
    font-size: var(--wp--preset--font-size--xl);
    padding-bottom: clamp(1rem, 2vw, 2rem);
}

p {
    font-size: var(--wp--preset--font-size--sm);
    margin-bottom: var(--wp--preset--spacing--sm);
    &:last-child {
        margin-bottom: 0;
    }
}

.txt-100 { font-weight: 100; }
.txt-300 { font-weight: 300; }
.txt-600 { font-weight: 600; }

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.font-heading {
    font-family: $font-brand;
}