/* Colours
============================================*/



/* Fonts
============================================*/

// Font Variation Themes

/* Bold & Powerful ( Default ) */

$font-logo: "Rajdhani", sans-serif;
$font-brand: "Rajdhani", sans-serif;
$font-display: "Inter";
$font-alternate: "Space Grotesk";

/* Override for mobile */
// @media (max-width: 768px) {
//     :root {
//         --wp--preset--spacing--40: 0.75rem !important;
//         --wp--preset--spacing--50: 1rem !important;
//         --wp--preset--spacing--60: 1.5rem !important;
//         --wp--preset--spacing--70: 2rem !important;
//         --wp--preset--spacing--80: 3rem !important;
//     }
// }

/* Breakpoints ( based on wp gutenberg breakpoints )
========================================================*/

$breakpoint-sm: 600px;
$breakpoint-md: 782px;

/* Spacing
============================================*/

$body-padding: 2rem;    
$body-padding-mobile: 1rem;