:root {
    --container-width: var(--wp--style--global--content-size);
    --container-gutter: max(0px,
            calc((100vw - var(--container-width)) / 2));
}

/* Fonts
============================================*/

// Font Variation Themes

/* Bold & Powerful ( Default ) */

$font-logo: "Rajdhani", sans-serif;
$font-brand: "Rajdhani", sans-serif;
$font-display: "Inter";
$font-alternate: "Space Grotesk";

/* Breakpoints ( based on wp gutenberg breakpoints )
========================================================*/

$breakpoint-sm: 600px;
$breakpoint-md: 782px;
$breakpoint-lg: 1024px;

/* Spacing
============================================*/

$body-padding: 2rem;    
$body-padding-mobile: 1rem;

/* Colors
============================================*/

$gradient-primary: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(55, 0, 0) 100%);

/* Other
============================================*/

$header-height-mobile: 79px;