@import 'base/variables';
@import 'components/buttons';
@import 'components/hero';
@import 'components/logo-slider';
@import 'components/about';
@import 'components/tabs';

// .block-editor-rich-text__editable {
//     background-color: var(--wp--preset--color--black) !important;
//     color: var(--wp--preset--color--white) !important;
// }