@import 'base/reset';
@import 'base/variables';
@import 'base/global';
@import 'base/typography';
@import 'base/mixins';
@import 'base/animations';

@import 'utilities/flex';
@import 'utilities/index';

// @import 'vendor/blaze';
// @import 'vendor/aos';
@import 'vendor/wp-overrides';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/grid';

@import 'components/buttons';