.wp-block-enigma-accordion-item .enigma-accordion-content {
    min-height: 100px !important;
    max-height: auto !important;
    overflow: scroll !important;
    background-color: #eee !important;
    padding-bottom: 24px !important;
}