.archive-hero {
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--wp--preset--color--black);
    color: var(--wp--preset--color--white);
    margin-top: 132px;
    h1 {
        font-weight: 600 !important;
    }
    // padding: 4rem 0px 5rem 0px;
    @media (max-width: 768px) {
        margin-top: 80px;
    }
}

.archive-card {
    position: relative;
    background: transparent;
    border-radius: 4px;
    box-shadow: var(--wp--preset--shadow--soft);
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    border: solid 2px #e8e8e8;
}

.archive-card:hover {
    transform: translateY(-4px);
    box-shadow: var(--wp--preset--shadow--medium);
    border-color: var(--wp--preset--color--primary);
    a {
        text-decoration: none;
    }
}

.archive-card__link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 2rem;
}

.archive-card__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
}

.archive-card__logo img {
    max-width: 160px;
    max-height: 80px;
    object-fit: contain;
    // filter: grayscale(100%) brightness(0.9);
    transition: filter 0.25s ease;
}

.archive-card:hover img {
    filter: grayscale(0%);
}

.archive-card__title {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.archive-card__image {
    margin-bottom: 1.25rem;
    img {
        aspect-ratio: 16 / 11;
        object-fit: cover;
    }
}

.archive-grid {
    margin: 0px clamp(-1.5rem, 1vw, -1rem);
}