.sitemap-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 74px;
    li {
        margin-bottom: 10px;
        a {
            text-decoration: underline;
            color: #000;
            font-size: 22px;
            font-weight: 600;
            transition: color 0.3s ease;
            &:hover {
                color: var(--wp--preset--color--primary);
            }
        }
    }
}
