.warranty-list {
    position: sticky;
    top: 180px;
    @media (max-width: 768px) {
        position: relative;
        top: 0;
        margin-bottom: 32px;
    }
    li {
        border-bottom: 1px solid var(--wp--preset--color--primary);
        &:last-child {
            border-bottom: none;
        }
    }
    a {
        padding: 8px 0px;
        display: block;
        text-decoration: none;
        &:hover {
            color: var(--wp--preset--color--primary);
        }
    }
}