.hero-image-preview {
    margin-top: 10px;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}