.wp-block-enigma-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    background: var(--hero-background, var(--wp--preset--color--primary));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 120px !important;
    // padding-bottom: 80px;
    min-height: var(--hero-min-height, auto);

    padding-left: 2rem;
    padding-right: 2rem;

    &.is-full-height-all {
        min-height: 100vh;
    }

    &.is-full-height-desktop {
        @media (min-width: 1024px) {
            min-height: 100vh;
        }
    }

    .hero__inner {
        max-width: 855px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        @media (min-width: 768px) {
            padding: 0px 2rem;
        }
    }
}