.contact-info {

    // border: 1px solid black;
    border-radius: 4px;
    // padding: 1rem;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        @media (max-width: 781px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__heading {
        margin-bottom: var(--wp--preset--spacing--sm);
    }

    &__item {
        margin-bottom: var(--wp--preset--spacing--md);
        display: flex;
        align-items: start;
        gap: 0.5rem;
        a {
            text-decoration: none;
            margin-left: 32px;
            transition: color 0.3s ease;
            &:hover {
                color: var(--wp--preset--color--primary);
            }
        }
    }

    &__item-text {
        font-weight: 300;
    }
}

// .contact-info {
//     padding: var(--wp--preset--spacing--sm);
//     border: solid 1px #2b2b2b;
//     border-radius: 4px;
//     box-shadow: inset 0px 0px 60px 0px #ffffff29;
//     height: 100%;

//     h2 {
//         margin-bottom: var(--wp--preset--spacing--sm);
//     }

//     p {
//         margin-bottom: var(--wp--preset--spacing--sm);
//     }
// }