.br-sm { 
    border-radius: 4px;
    img {
        border-radius: 4px;
    }
}
.br-md { 
    border-radius: 8px;
    img {
        border-radius: 8px;
    }
}
.br-lg { 
    border-radius: 12px;
    img {
        border-radius: 12px;
    }
}
.br-100 { 
    border-radius: 100%;
    img {
        border-radius: 100%;
    }
}

.mt-6 { margin-top: 6px; }

.ml-auto { margin-left: auto !important; }
.mr-auto { margin-right: auto !important; }

.mt-16 { margin-top: 16px; }
.mt-32 { margin-top: 32px; }
.mt-48 { margin-top: 48px; }
.mt-64 { margin-top: 64px; }

.pt-8 { padding-top: 8px; }
.pt-16 { padding-top: 16px; }
.pt-32 { padding-top: 32px; }
.pt-48 { padding-top: 48px; }
.pt-64 { padding-top: 64px; }

.pb-8 { padding-bottom: 8px; }
.pb-16 { padding-bottom: 16px; }
.pb-32 { padding-bottom: 32px; }
.pb-48 { padding-bottom: 48px; }
.pb-64 { padding-bottom: 64px; }

.pt-80 { padding-top: 80px; }
.pb-80 { padding-bottom: 80px; }

.mb-0 { margin-bottom: 0px; }

.line-h-1 { line-height: 1; }

.square {
    img {
        aspect-ratio: 1/1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.text-center { text-align: center; }