@import 'spacing';

.br-sm { 
    border-radius: 4px;
    img {
        border-radius: 4px;
    }
}
.br-md { 
    border-radius: 8px;
    img {
        border-radius: 8px;
    }
}
.br-lg { 
    border-radius: 12px;
    img {
        border-radius: 12px;
    }
}
.br-100 { 
    border-radius: 100%;
    img {
        border-radius: 100%;
    }
}

.b-light-orange {
    border: solid 2px #ffefe4 !important;
}

.line-h-1 { line-height: 1; }

.square {
    img {
        aspect-ratio: 1/1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-ratio-4-3 {
    img {
        aspect-ratio: 4/3;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.text-center { text-align: center; }

.rotate-180 {
    transform: rotate(180deg);
}

.cols-2 { columns: 2; }
.cols-3 { columns: 3; }
.cols-4 { columns: 4; }

@media (min-width: 768px) {
    .cols-md-2 { columns: 2; }
    .cols-md-3 { columns: 3; }
    .cols-md-4 { columns: 4; }
}

@media (min-width: 992px) {
    .cols-lg-2 { columns: 2; }
    .cols-lg-3 { columns: 3; }
    .cols-lg-4 { columns: 4; }
}


.d-none { display: none; }
.d-block { display: block; }

@media (min-width: 768px) {
    .d-md-none { display: none !important; }
    .d-md-block { display: block !important; }
}

@media (min-width: 992px) {
    .d-lg-none { display: none !important; }
    .d-lg-block { display: block !important; }
}

@media (min-width: 1200px) {
    .d-xl-none { display: none !important; }
    .d-xl-block { display: block !important; }
}

@media (max-width: 781px) {
    .reverse-mobile {
        display: flex;
        flex-direction: column-reverse;
    }
}