.real-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;

    background: #2b2b2b;
    border-radius: 8px;
    border: solid 4px black;
    box-shadow: inset 0px 2px 3px #ffffff85;
    padding: 10px 10px;
    transition: all 0.3s ease;

    &__text {
        background: linear-gradient(to right, var(--wp--preset--color--secondary), var(--wp--preset--color--primary), var(--wp--preset--color--secondary));
        text-transform: uppercase;
        padding: 0px 8px;
        transition: all 0.3s ease;
    }

    &__icon {
        display: inline-flex;
    }

    &:hover {
        text-decoration: none;
        box-shadow: inset 0px 2px 5px #ffffff85;
        .real-button__text {
            background: linear-gradient(to right, var(--wp--preset--color--primary) 0%, var(--wp--preset--color--secondary) 10%, var(--wp--preset--color--primary) 90%, var(--wp--preset--color--secondary) 100%);
        }
    }

    &:active {
        transform: translateY(2px);
        box-shadow: inset 0px 2px 3px #ffffff85;
    }
    
    &--primary {}

    &--secondary {}

    &--accent {}
}