.about-stats {

    display: flex;
    flex-direction: column;

    &__card {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        border-right: 1px solid var(--wp--preset--color--white);
        padding-right: var(--wp--preset--spacing--md);
        padding-left: var(--wp--preset--spacing--md);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border-right: none;
            padding-right: 0;
        }

        @media (max-width: 781px) {
            padding-right: 0;
            padding-left: 0;
            border-right: none;
            border-bottom: 1px solid var(--wp--preset--color--white);
            padding-bottom: var(--wp--preset--spacing--md);
            padding-top: var(--wp--preset--spacing--md);


            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }

    &__top {
        display: grid;
        gap: 0.25rem;
    }

    &__value {
        font-family: var(--wp--preset--font-family--rajdhani);
        font-size: var(--wp--preset--font-size--xxl);
        letter-spacing: 0.02em;
        font-weight: 600;
        position: relative;
    }

    &__label {
        font-size: var(--wp--preset--font-size--lg);
        margin: 0;
    }

    &__description {
        margin: 0;
    }

    &__card.is-star &__value::after {
        content: "\2605 \2605 \2605 \2605 \2605";
        color: #ffdd83;
        margin-left: 6px;
        font-size: 22px;
        padding-bottom: 0px;
        position: absolute;
        top: 29px;
    }

    @media (min-width: 782px) {
        flex-direction: row;
    }
}