.about-us {
    background: linear-gradient(to top, var(--wp--preset--color--black) 0%, var(--wp--preset--color--black) 50%, transparent 50%);
    &__content {
        h2 {
            margin-bottom: 1rem;
        }
        @media (min-width: $breakpoint-md) {
            width: 60%;
        }
    }
    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (min-width: $breakpoint-md) {
            width: 40%;
        }
    }
}