/* Button Base
====================================*/

.wp-block-button__link {
    position: relative;
    border: solid 4px var(--wp--preset--color--black);
    background-color: var(--wp--preset--color--black) !important;
    color: var(--wp--preset--color--white) !important;
    overflow: hidden;
    transition: box-shadow 0.5s ease;
    border-radius: 4px;
    height: auto;
    &.has-primary-background-color {
        // box-shadow: 0px 0px 23px 0px #bb5906;
        border-color: var(--wp--preset--color--primary) !important;
        color: var(--wp--preset--color--primary) !important;
        &:hover {
            // box-shadow: 0px 0px 30px 0px #ff750085;
            box-shadow: 0px 0px 30px 0px rgba(255, 117, 0, 0.4);
        }
    }
    &.has-accent-background-color {
        // box-shadow: 0px 0px 23px 0px #4dad3c;
        border-color: var(--wp--preset--color--accent);
        color: var(--wp--preset--color--accent) !important;
        &:hover {
            box-shadow: 0px 0px 30px 0px rgba(71, 211, 124, 0.4);
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
    }

    &:hover {
        text-decoration: none;
        transform: translateY(-2px);
        &::before {
            animation: shimmer 2s infinite;
        }
    }

    &:active {
        transform: translateY(2px);
    }

    .icon-right {
        margin-right: -12px;
    }

    &.is-outline {
        background-color: transparent !important;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}