.hero {
    height: calc(100vh - 4rem);
    min-height: 660px;
    padding: 0px var(--wp--style--block-gap);
    h1 {
        margin: 2rem 0px;
    }

    // .wp-block-cover__image-background,
    // .wp-block-cover__video-background {
    //     transform: scale(var(--hero-scale));
    //     transition: transform 0.15s linear;
    //     will-change: transform;
    // }
}

.hero-callout {
    transform: translate(0px, -50%);
    padding: 0px var(--wp--style--block-gap);
    &__inner {
        max-width: 1200px;
        background: var(--wp--preset--color--black);
        color: var(--wp--preset--color--white);
        border: 4px solid var(--wp--preset--color--white);
        margin: 0px auto 0px auto;
        padding: 2rem;
        z-index: 2;
        position: relative;
    }
    p {
        font-size: 18px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .hero {
        --hero-scale: 1 !important;
    }
}

.hero {
    .wp-block-button__link {
        position: relative;
        border: solid 4px var(--wp--preset--color--black);
        background-color: var(--wp--preset--color--black) !important;
        color: var(--wp--preset--color--white) !important;
        overflow: hidden;
        transition: box-shadow 0.5s ease;
        border-radius: 4px;
        height: auto;
        text-transform: none !important;

        &.has-primary-background-color {
            // box-shadow: 0px 0px 23px 0px #bb5906;
            border-color: var(--wp--preset--color--primary) !important;
            color: var(--wp--preset--color--primary) !important;

            &:hover {
                // box-shadow: 0px 0px 30px 0px #ff750085;
                box-shadow: 0px 0px 30px 0px rgba(255, 117, 0, 0.4);
            }
        }

        &.has-accent-background-color {
            // box-shadow: 0px 0px 23px 0px #4dad3c;
            border-color: var(--wp--preset--color--accent);
            color: var(--wp--preset--color--accent) !important;

            &:hover {
                box-shadow: 0px 0px 30px 0px rgba(71, 211, 124, 0.4);
            }
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
        }

        &:hover {
            text-decoration: none;
            transform: translateY(-2px);

            &::before {
                animation: shimmer 2s infinite;
            }
        }

        &:active {
            transform: translateY(2px);
        }

        .icon-right {
            margin-right: -12px;
        }

        &.is-outline {
            background-color: transparent !important;
        }
    }
    .wp-block-button__link,
    .wp-element-button {
        --button-highlight: none !important;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}