// .logo-slider {
//     // margin: 4rem auto;
//     margin: 2rem auto;
//     position: relative;
//     img {
//         height: 100px;
//         // width: 180px;
//         max-width: 250px;
//         width: auto;
//         object-fit: contain;
//         margin: 0 1rem;
//         filter: grayscale(100%);

//         // ALTERNATIVE IDEA
//         height: 200px;
//         width: 200px;
//         // background: #f5f5f5;
//         // padding: 10px;
//     }
//     &:after {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         // background: linear-gradient(90deg, #ffffff 0px, transparent 30%, transparent 70%, #ffffff 100%);
//         background: linear-gradient(90deg,
//                 #ffffff 0,
//                 transparent var(--container-gutter),
//                 transparent calc(100vw - var(--container-gutter)),
//                 #ffffff 100vw);
//         @media (min-width: $breakpoint-sm) {
//             background: 
//                 linear-gradient(90deg,
//                 #ffffff 2rem,
//                 transparent var(--container-gutter),
//                 transparent calc(100vw - var(--container-gutter)),
//                 #ffffff calc(100vw - 2rem));
//         }
//     }
// }

// .logo-slider .blaze-track {
//     display: flex;
//     width: max-content;
//     animation: logo-scroll 30s linear infinite;
// }

// @keyframes logo-scroll {
//     from {
//         transform: translateX(0);
//     }

//     to {
//         transform: translateX(-50%);
//     }
// }