.panel {
    padding: var(--wp--preset--spacing--sm);
    border: solid 1px #2b2b2b;
    border-radius: 4px;
    box-shadow: inset 0px 0px 60px 0px rgba(255, 255, 255, 0.1607843137);
    svg {
        width: 64px;
        height: 64px;
        // fill: var(--wp--preset--color--primary);
    }
}