.panel {
    padding: var(--wp--preset--spacing--sm);
    // border: solid 1px var(--wp--preset--color--primary);    
    border: solid 1px #2b2b2b;
    border-radius: 4px;
    box-shadow: inset 0px 0px 60px 0px rgba(255, 255, 255, 0.1607843137);
    height: 100%;
    svg {
        width: 64px;
        height: 64px;
        // fill: var(--wp--preset--color--primary);
    }
    &.is-light {
        // box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.1607843137);
        border: none;
        padding: 0 !important;
        box-shadow: none !important;
    }
}

.panel-badge {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom right, var(--wp--preset--color--primary), var(--wp--preset--color--secondary));
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.35rem 0.6rem;
    border-radius: var(--wp--preset--radius--sm);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding: 10px 20px;
}
