.container {
    width: 100%;
    max-width: var(--wp--style--global--content-size);
    margin-inline: auto;
    padding-inline: 32px;

    &--wide {
        max-width: var(--wp--style--global--wide-size);
    }

    &--full {
        max-width: 100%;
    }
}

.gap-2 { gap: 2px; }
.gap-4 { gap: 4px; }

.gap-6 { gap: 6px; }
.gap-8 { gap: 8px; }

.gap-16 { gap: 16px; }
.gap-32 { gap: 32px; }

.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-33 { width: 33.33%; }
.w-66 { width: 66.66%; }
.w-100 { width: 100%; }

@media (min-width: $breakpoint-md) {
    .w-md-25 { width: 25%; }
    .w-md-50 { width: 50%; }
    .w-md-33 { width: 33.33%; }
    .w-md-66 { width: 66.66%; }
    .w-md-100 { width: 100%; }
}

@media (min-width: $breakpoint-lg) {
    .w-lg-25 { width: 25%; }
    .w-lg-50 { width: 50%; }
    .w-lg-33 { width: 33.33%; }
    .w-lg-66 { width: 66.66%; }
    .w-lg-100 { width: 100%; }
}