.site-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 0px 40px 0px #ffffff3f;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem $body-padding-mobile;
        background-color: #000;
        @media (min-width: 600px) {
            padding: 0.5rem $body-padding;
        }
    }
    &__bottom {
        // background-color: #00000081;
        // background: linear-gradient(to right, #000000, #00000081);
        position: relative;
        background-color: #000;
        // padding: 0.5rem $body-padding-mobile;
        padding: 0.8rem $body-padding-mobile;
        @media (min-width: 600px) {
            // padding: 0.5rem $body-padding;
            padding: 0.8rem $body-padding;
        }
    }
    &__social {
        li {
            a {
                img {
                    width: 24px;
                }
            }
        }
    }
}

.header-border {
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #FF6B00, #CF0003);
}

.site-header__nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        a {
            color: #fff;
            text-decoration: none;
            margin-right: 16px;
            font-weight: 600;
            font-size: 20px;
            font-family: $font-brand;
            transition: color 0.3s ease;
            &:hover {
                color: var(--wp--preset--color--primary) !important;
            }
        }
    }
}

.site-header-contact {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: #fff;
        font-family: $font-brand;
        font-size: 16px;
        font-weight: 600;
        // margin-left: 20px;
    }
}